<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="/dist/email.css">
    <title>Payments UI</title>
  </head>
  <body id="email">
    <main>
      <div id="wrapper">
        <div class="header">
            <div id="logo"></div>
            <h1>{{ seller.name }}</h1>
            <p class="user-email">placeholder@placeholder.com</p>
        </div>
