{% extends 'braintree/emails/subscription_base.html' %}

{% block main %}
    <div class="banner error">Subscription charge failed</div>

    <table>
        <tr class="cc">
            <th scope="row">Paid with</th>
            <td><img class="card" alt="{{ cc_type|lower }}" src="/svg/{{ cc_type|lower }}.svg" width="40" /> ending in {{ cc_truncated_id }}</td>
        </tr>
        <tr class="desc">
            <th scope="row">{{ product.description }}</th>
            <td>{{ recurring_amount }}</td>
        </tr>
        <tr class="period">
            <th scope="row">Period</th>
            <td>{{ bill_start }} - {{ bill_end }}</td>
        </tr>
    </table>

    <div class="divider"></div>

    <table class="total-amount">
        <tr class="total">
            <th scope="row">Total</th>
            <td>${{ moz_trans.amount }}</td>
        </tr>
    </table>
{% endblock %}

{% block footer %}
    <a class="button" data-href="{{ management_url }}">Use different credit card</a>
{% endblock %}
