{% extends 'braintree/emails/subscription_base.html' %}
{% block main %}
    <table>
      <tr>
        <th scope="row">Date</th>
        <td>{{ date }}</td>
      </tr>
      <tr>
        <th scope="row">Receipt #</th>
        <td>{{ transaction.uuid }}</td>
      </tr>

      <tr class="desc">
        <th scope="row">{{ product.description }}</th>
        <td>{{ recurring_amount }}</td>
      </tr>
      <tr class="period">
        <th scope="row">Period</th>
        <td>{{ bill_start }} - {{ bill_end }}</td>
      </tr>
    </table>
    <div class="divider"></div>

    <table class="total-amount">
      <tr class="total">
        <th scope="row">Total</th>
        <td>${{ moz_trans.amount }}</td>
      </tr>
      <tr class="next-payment">
        <th scope="row">Next payment</th>
        <td>{{ next_pay_date }}</td>
      </tr>
    </table>
{% endblock %}

{% block footer %}
    <p><a href="#">Terms and conditions</a></p>
{% endblock %}
